center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
text {
  text-align: center;
}
@media (max-width: 720px) {
  img {
    max-width: 100%;
    height: auto;
  }
}
